Options -Indexes
#FallbackResource index.php
#ErrorDocument 403  aamusted

RewriteEngine On
RewriteBase /easy
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?uri-$1 [QSA,L]

